.layout {
  color: #fff;
  font-size: 20px;
  .header {
    .nav {
      .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px 30px;
        .listContent {
          display: flex;
          justify-content: space-between;
          padding-right: 10px;
          &:last-child {
            border-left: 2px solid #fff;
            padding-left: 10px;
          }
        }
      }
    }
  }
  .footer {
    margin: 10px 0;
    max-width: 90vw;
    height: 46px;
    text-overflow: clip;
    overflow: hidden;
    span {
      margin: 10px;
    }
    .footerParagraph {
    }
  }
}
