.description {
  position: absolute;
  bottom: 20px;
  color: #fff;
  opacity: 0.8;
  padding: 0 15px;
  font-size: 18px;
  width: 80%;
  .profile {
    font-weight: 700;
    margin-bottom: 5px;
  }
  .text {
  }
  .date {
    margin-top: 5px;
  }
}
