.comments {
  background: #fff;
  color: #010101;
  border-radius: 20px 20px 0 0;
  padding-top: 5px;
  position: absolute;
  width: 100%;
  bottom: -12%;
  height: 60%;
  z-index: 200;
  overflow-x: hidden;
  .btnClose {
    position: absolute;
    right: 3%;
    top: 2%;
    font-size: 30px;
  }
}
