@import url("./normalize.css");
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.invisible {
  display: none;
}
#root {
  max-width: 600px;
  margin: 0 auto;
}
