.listaActionBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 25%;
  right: 0;
  z-index: 100;
  .items {
    position: relative;
    margin-bottom: 15px;
    display: grid;
    place-items: center;
    &:first-child {
      margin-bottom: 30px;
    }
    button {
      svg {
        font-size: 30px;
        color: #fff;
      }
    }

    .iconPlus {
      position: absolute;
      bottom: -0.6em;
      right: 0;
      left: 0;
      margin: 0 auto;
      width: 24px;
      height: 24px;
      color: red;
      background: #fff;
      border-radius: 50%;
      display: grid;
      place-items: center;
    }
  }
  .profileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
  }
  .numbers {
    margin: 5px 0;
    color: #fff;
    font-size: 24px;
  }
}
.colorActive svg {
  color: red !important;
}
